[project]
	description = Java agent adding a few options to control JMX
[access "refs/*"]
	owner = group user/Guillaume Lederrey (gehel)
[access "refs/for/refs/*"]
	read = group user/Guillaume Lederrey (gehel)
	push = group user/Guillaume Lederrey (gehel)
	label-Code-Review = -2..+2 group user/Guillaume Lederrey (gehel)
	label-Verified = -1..+1 group user/Guillaume Lederrey (gehel)
	rebase = group user/Guillaume Lederrey (gehel)
	removeReviewer = group user/Guillaume Lederrey (gehel)
	submit = group user/Guillaume Lederrey (gehel)
[access "refs/heads/*"]
	read = group user/Guillaume Lederrey (gehel)
	create = group user/Guillaume Lederrey (gehel)
	push = +force group user/Guillaume Lederrey (gehel)
	pushMerge = group user/Guillaume Lederrey (gehel)
[access "refs/tags/*"]
	push = +force group user/Guillaume Lederrey (gehel)
	pushTag = group user/Guillaume Lederrey (gehel)
	pushSignedTag = group user/Guillaume Lederrey (gehel)
